@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .port {
    /* border: 5px solid #fff; */
    margin-left: -60px;
  }
  .ringSet {
    margin-left: -100px;
  }
  .navBar {
    top: 24.5%;
    /* border: 5px solid red; */
    left: -2%;
    font-size: 1rem;
  }
  .navBar ul li {
    padding: 0%;
  }
  .intro {
    right: 3%;
    top: 25%;
    overflow: hidden;
    font-size: 1rem;
    padding: 0%;
    width: 30%;
    padding: 1%;
  }
  .intro p {
    padding: 0%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .port {
    margin-left: -80px;
  }
  .ringSet {
    margin-left: -100px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .navBar {
    /* border: 4px solid red; */
    /* margin-top: -100px; */
    /* top: calc(100% - 100vh); */
    top: 26.5%;
    left: -2%;
    font-size: 1rem;
  }
  .navBar ul li {
    padding: 0%;
  }
  .intro {
    right: 3%;
    top: 25%;
    /* height: 80vh; */
    overflow: hidden;
    font-size: 1rem;
    padding: 0%;
    width: 30%;
    padding: 1%;
  }
  .intro p {
    padding: 0%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .navBar {
    top: 29%;
    left: -2%;
  }
  .navBar ul li {
    padding: 0%;
  }
  .intro {
    right: 1%;
  }
  .intro {
    right: 3%;
    top: 25%;
    /* height: 80vh; */
    overflow: hidden;
    font-size: 1rem;
    padding: 0%;
    width: 30%;
    padding: 1%;
  }
  .intro p {
    padding: 0%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
  .navBar {
    top: 31%;
    left: -2%;
  }
  .navBar ul li {
    padding: 0%;
  }
  .intro {
    right: 1%;
  }
  .intro {
    right: 3%;
    top: 25%;
    /* height: 80vh; */
    overflow: hidden;
    font-size: 1rem;
    padding: 0%;
    width: 35%;
    padding: 1%;
  }
  .intro p {
    padding: 0%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
  .navBar {
    top: 34%;
    left: -2%;
  }
  .navBar ul li {
    padding: 0%;
  }
  .intro {
    right: 1%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
  .navBar {
    top: 36%;
    left: -2%;
  }
  .navBar ul li {
    padding: 0%;
  }
  .intro {
    right: 4%;
  }
}
.MobileView {
  display: none;
}
@media screen and (min-width: 200px) and (max-width: 1100px) {
  .web {
    display: none;
  }
  .MobileView {
    display: block;
    overflow: hidden;
  }
  .deck {
    width: 100%;
    height: 50vh;
    /* border: 1px solid #fff; */
  }
  .headerMobile {
    width: 100%;
    height: 80px;
    border: 1px solid transparent;
    /* background-color: #00000080; */
    /* background-color: black; */
  }
  .headerMobile ul {
    display: flex;
    flex-direction: column;
    /* margin: 0%;
      padding: 0%; */
    /* justify-content: space-evenly; */
    align-items: end;
  }
  .headerMobile ul li {
    padding: 10px;
    /* width: 200px; */
    /* height: 100%; */
    text-align: center;
    list-style: none;
    /* border: 1px solid #fff; */
    border-radius: 4px;
    transition: all 0.4s;
    font-size: 1.3rem;
    cursor: pointer;
    border-bottom: 2px solid gray;
  }
  .headerMobile ul li:hover {
    background-color: rgba(128, 128, 128, 0.221);
    color: #362fd9;
    /* height: 100px; */
    /* padding: 12px; */
  }
  .headerMobile ul li:hover .listView {
    display: inline-block;
  }

  .listView {
    /* border: 2px solid #ffffff; */
    background-color: rgba(0, 0, 0, 0.176);
    /* background-color: black; */
    padding: 20px;
    justify-content: center;
    /* line-height: 1; */
    border-radius: 10px;
    color: #ffffff;
    width: 60%;
    display: none;
    min-height: 100px;
    z-index: 100;
    /* margin: auto; */
    position: absolute;
    top: 20%;
    left: 18%;
    transition: all 0.4s;

    -webkit-animation: scale-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    /* display: none; */
  }
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  .listView h1 {
    margin: 0%;
  }
  .deck video.fullscreen {
    width: 100%;
    z-index: -1;
    object-fit: cover;
    /* height: 100%; */
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
  }
  .TopMobile {
    z-index: 10;
    font-size: 2rem;
    /* border: 3px solid #ffffff; */
    text-align: center;
    display: flex;
    position: absolute;
    top: 420px;
    width: 100%;
    justify-content: center;
    /* align-items: flex-start; */
  }
  .TopMobile h1 {
    /* border: 1px solid red; */
    padding: 0%;
    /* font-size: 3rem; */
    margin: 0%;
    border-radius: 10px;
    padding: 0% 10px;
    background-color: rgba(128, 128, 128, 0.336);
  }

  .img-slider {
    position: relative;
    width: 100vw;
    min-height: 500px;
  }
  .img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 6s infinite;
  }
  .img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden;
  }
  .img-slider .slider-container .slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
  @keyframes slider {
    0%,
    25%,
    100% {
      left: 0;
    }

    30%,
    55% {
      left: -100%;
    }

    60%,
    85% {
      left: -200%;
    }
  }
  .intro {
    top: 15%;
    right: 20%;
    width: 60%;
    text-align: center;
    /* height: 300px; */
    padding: 20px;
  }
  .intro h1:nth-child(1) {
    margin-bottom: 10px;
    font-size: 2rem;
  }

  .intro p {
    color: #eee;
    font-size: 1.2rem;
    padding: 5px;
    /* text-align: justify; */
  }
  .footerContactUs {
    margin: 180px auto 0px auto;
    /* border: 4px solid red; */
  }
}
@media screen and (min-width: 900px) and (max-width: 1020px) {
  .footerContactUs {
    margin: 100px auto 0px auto;
    /* border: 4px solid red; */
  }
  .intro {
    top: 7%;
    right: 20%;
    width: 60%;
    /* border: 4px solid red; */
    text-align: center;
    /* height: 300px; */
    padding: 20px;
  }
  .img-slider {
    margin-top: -10%;
    /* border: 4px solid red; */
  }
  .TopMobile {
    top: 350px;
  }
  .listView {
    font-size: 1rem;
    top: 10%;
    width: 40%;
    left: 27%;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .footerContactUs {
    margin: 50px auto 0px auto;
    /* border: 4px solid red; */
  }
  .intro {
    top: 2%;
    right: 4%;
    width: 90%;
    /* border: 4px solid red; */
    text-align: center;
    /* height: 300px; */
    padding: 20px;
  }
  .img-slider {
    margin-top: -10%;
    /* border: 4px solid red; */
  }
  .TopMobile {
    top: 350px;
  }
  .listView {
    font-size: 1rem;
    top: 10%;
    width: 40%;
    left: 27%;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .footerContactUs {
    margin: 60px auto 0px auto;
  }
  .intro {
    top: 50px;
    right: 3.5%;
    width: 90%;
    min-height: 100px;
    text-align: center;
    font-size: 0.4rem;
  }
  .intro p {
    font-size: 1rem;
    padding: 0%;
    margin: 0%;
  }
  .TopMobile {
    top: 280px;
    text-align: start;
    font-size: 1.5rem;
  }
  .TopMobile h1 {
    margin-left: -240px;
    /* text-align: left; */
  }
  .img-slider {
    margin-top: -180px;
    /* border: 5px solid red; */
    min-height: 100px;
  }
  .listView {
    font-size: 1rem;
    top: 5%;
    left: 0%;
    /* border: 4px solid red; */
  }
  .listView h1 {
    border-bottom: 2px solid gray;
    color: #362fd9;
  }
  .footerContactUs .contactUsSection {
    /* border: 4px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    width: 100%;
    /* justify-content: space-evenly; */
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    /* border: 4px solid blue; */
    padding: 0;
    width: 100%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    padding: 0%;
    /* border: 4px solid red; */
    width: 100%;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 60px;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .footerContactUs {
    margin: 200px 0px 0px 0px;
    /* border: 1px solid red; */
  }
  .mainContainer {
    position: absolute;
    top: 50%;
  }

  .intro {
    top: 50px;
    right: 3.5%;
    width: 90%;
    min-height: 100px;
    text-align: center;
    font-size: 0.4rem;
    /* background-color: none; */
  }
  .intro p {
    font-size: 1rem;
    padding: 0%;
    margin: 0%;
  }
  .TopMobile {
    top: 200px;
    /* margin-bottom: 100px; */
    text-align: start;
    font-size: 1.5rem;
    /* border: 1px solid red; */
  }
  .TopMobile h1 {
    margin-left: -240px;
    /* text-align: left; */
  }
  .img-slider {
    margin-top: -180px;
    /* border: 5px solid red; */
    min-height: 100px;
  }
  .listView {
    font-size: 0.8rem;
    width: 300px;
    top: 5%;
    left: 0%;
    /* display: block; */
    /* border: 4px solid red; */
  }
  .listView h1 {
    border-bottom: 2px solid gray;
    color: #362fd9;
  }
  .footerContactUs .contactUsSection {
    /* border: 4px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    width: 100%;
    /* justify-content: space-evenly; */
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    /* border: 4px solid blue; */
    padding: 0;
    width: 100%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    padding: 0%;
    /* border: 4px solid red; */
    width: 100%;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 60px;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .deck {
    height: 22vh;
    /* border: 1px solid red; */
  }
  .TopMobile {
    font-size: 1.5rem;
    top: 33%;
  }
  .intro {
    top: 23%;
    right: 8%;
    width: 80%;
  }
  .final {
    margin: 100px auto;
  }
  .footerContactUs {
    height: auto;
  }
  .MobileView {
    overflow: unset;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    width: 100%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails input {
    width: 98%;
    padding: 10px;
    font-size: 1rem;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 50px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection button {
    padding: 10px 10px;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .deck {
    height: 11vh;
  }
  .TopMobile h1 {
    font-size: 3rem;
    /* border: 1px solid #000; */
  }
  .TopMobile {
    top: 250px;
  }
  .intro {
    top: 30%;
    right: 8%;
    width: 80%;
  }
  .intro h1:nth-child(1) {
    font-size: 2rem;
  }

  .intro h1:nth-child(2) {
    font-size: 1.3rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .headerMobile ul li {
    font-size: 1rem;
    padding: 1% 20px;
    /* border: 1px solid red; */
  }
  .img-slider .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listView {
    /* display: block; */
    /* border: 1px solid red; */
    font-size: 0.7rem;
    width: 200px;
    top: 3%;
    left: 2%;
  }
  .TopMobile h1 {
    font-size: 2.8rem;
  }
  .mainContainer {
    min-height: 750px;
    /* border: 1px solid red; */
  }
  .footerContactUs {
    margin: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    width: 110%;
  }

  .final {
    margin: 0px auto;
  }
  .footerContactUs {
    height: auto;
  }
  .MobileView {
    overflow: unset;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    width: 100%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails input {
    width: 98%;
    padding: 10px;
    font-size: 1rem;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 50px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection button {
    padding: 10px 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .deck {
    height: 11vh;
  }
  .TopMobile h1 {
    font-size: 3rem;
  }
  .TopMobile {
    top: 250px;
  }
  .flexMid {
    display: flex;
  }
  .intro {
    top: 30%;
    position: static;
    margin: 40% auto;
    z-index: 500;
    width: 80%;
  }
  .intro h1:nth-child(1) {
    font-size: 2rem;
  }

  .intro h1:nth-child(2) {
    font-size: 1.3rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .headerMobile ul li {
    font-size: 1rem;
    padding: 1% 20px;
  }
  .listView {
    font-size: 0.6rem;
    width: 150px;
    top: 3%;
    left: 5%;
    padding: 5px;
    text-align: justify;
  }
  .listView h1 {
    color: #362fd9;
    font-size: 0.9rem;
  }
  .TopMobile h1 {
    font-size: 2.8rem;
  }
  .mainContainer {
    min-height: 800px;
    overflow: hidden;
  }
  .footerContactUs {
    margin: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    width: 110%;
  }

  .final {
    margin: 0px auto;
  }
  .footerContactUs {
    height: auto;
  }
  .MobileView {
    overflow: unset;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    width: 100%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails input {
    width: 98%;
    padding: 10px;
    font-size: 1rem;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 50px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection button {
    padding: 10px 10px;
  }
}
/* @media screen and (min-width: 300px) and (max-width: 350px) {
  .deck {
    height: 7vh;
  }
  .headerMobile ul li {
    font-size: 0.8rem;
    padding: 0px 10px;
  }
  .listView {
    font-size: 0.5rem;
    width: 120px;
    top: 2%;
    left: 2%;
    padding: 0%;
    text-align: left;
  }
  .listView h1 {
    font-size: 0.8rem;
  }
  .TopMobile h1 {
    font-size: 1.8rem;
  }
  .TopMobile {
    top: 180px;
  }
  .intro {
    top: 20%;
    right: 8%;
    width: 75%;
    min-height: 200px;
  }
  .intro h1:nth-child(1) {
    font-size: 1rem;
  }

  .intro h1:nth-child(2) {
    font-size: 1rem;
  }
  .intro p {
    font-size: 0.6rem;
  }
  .mainContainer {
    min-height: 150px;
  }
  .footerContactUs h1 {
    font-size: 1.5rem;
  }
  .footerContactUs .lineHori {
    width: 100px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    margin-left: -25px;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    width: 88%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    width: 85%;
  }
} */

/* @media screen and (min-width: 200px) and (max-width: 300px) {
  .deck {
    height: 4vh;
  }
  .headerMobile ul li {
    font-size: 0.6rem;
    padding: 0px 10px;
  }
  .listView {
    font-size: 0.4rem;
    width: 100px;
    top: 2%;
    left: 4%;
    padding: 2px;
    min-height: 70px;
    text-align: center;
  }
  .listView h1 {
    font-size: 0.6rem;
    color: #362fd9;
  }
  .TopMobile h1 {
    font-size: 1.5rem;
  }
  .TopMobile {
    top: 140px;
  }
  .intro {
    top: 15%;
    right: 8%;
    width: 75%;
    min-height: 100px;
  }
  .intro h1:nth-child(1) {
    font-size: 1rem;
  }

  .intro h1:nth-child(2) {
    font-size: 1rem;
  }
  .intro p {
    font-size: 0.6rem;
  }
  .mainContainer {
    min-height: 100px;
  }
  .footerContactUs h1 {
    font-size: 1rem;
  }
  .footerContactUs .lineHori {
    width: 70px;
    height: 1px;
  }
  .footerContactUs .lineHori {
    margin: 20px auto;
  }
  .footerContactUs {
    margin: 0% auto 0%;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: auto;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    width: 110%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    width: 100%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    padding: 10px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    justify-content: center;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails input {
    padding: 5px;
    font-size: 0.8rem;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    padding: 5px;
    font-size: 0.8rem;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection button {
    padding: 5px 10px;
  }
  .footerContactUs {
    height: auto;
  }
  .final {
    width: auto;
    min-height: 100px;
  }
} */
/* @media screen and (max-width: 250px) {
} */
/* @media screen and (min-width: 300px) and (max-width: 700px) {
  .footerContactUs {
    margin: 0%;
    margin-top: 50px;
  }
  .footerContactUs .contactUsSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    width: 100%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    padding: 0%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails input {
    width: 98%;
    padding: 10px;
    font-size: 1rem;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 50px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection button {
    padding: 10px 10px;
  }
  .mainContainer {
    border-top: 2px solid gray;
    position: relative;
    margin-top: -280px;
    background-color: #222;
    min-height: 900px;
  }
  .intro {
    width: 80%;
    right: auto;
    left: 5%;
    margin-top: 240px;
    border-radius: 10px;
    background-color: #0000008d;
  }
  .img-slider {
    position: absolute;
  }
  .listView {
    top: 8%;
    left: 1%;
    width: 50%;
    font-size: 1rem;
  }
  .listView h1 {
    font-size: 1.5rem;
    border-bottom: 2px solid gray;
    color: #362fd9;
  }
} */

/* @media screen and (min-width: 300px) and (max-width: 500px) {
  .mainContainer {
    background-color: #222;
    min-height: 900px;
  }
  .mainContainer .img-slider {
    position: absolute;
    top: 20%;
  }

  .deck {
    text-align: center;
    margin-top: 100px;
  }

  .TopMobile {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .intro {
    width: 300px;
    margin-top: 140px;
    margin-left: 15px;
  }

  .listView {
    top: 5%;
    left: 1%;
    width: 40%;
    font-size: 0.7rem;
  }
  .listView h1 {
    font-size: 1rem;
    border-bottom: 2px solid gray;
    color: #362fd9;
  }
  .headerMobile ul li {
    font-size: 1rem;
  }
} */
/* 
@media screen and (min-width: 300px) and (max-width: 500px) {
  .mainContainer {
    margin-top: -350px;
    min-height: 700px;
  }
  .TopMobile {
    top: 270px;
    font-size: 1.3rem;
  }
  .intro {
    right: auto;
    left: 3%;
    margin-top: 100px;
    font-size: 1rem;
  }
  .intro h1:nth-child(1) {
    font-size: 1.5rem;
  }
  .intro h1:nth-child(2) {
    font-size: 1.4rem;
  }
  .intro p {
    font-size: 0.9rem;
    padding: 3px;
  }

  .listView {
    top: 4%;
    left: 2%;
    width: 50%;
    font-size: 0.7rem;
    line-height: 1.2;
  }
  .listView h1 {
    font-size: 1rem;
    border-bottom: 2px solid gray;
    color: #362fd9;
  }
  .headerMobile ul li {
    font-size: 0.8rem;
  }
  .footerContactUs .contactUsSection {
    width: 100%;
    flex-direction: column;
    padding: 0%;
  }
  form {
    width: 100%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    padding: 0%;
    width: 100%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    width: 100%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails input {
    width: 98%;
    padding: 10px;
    font-size: 1rem;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 50px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection button {
    padding: 10px 10px;
  }
} */
/* 
@media screen and (min-width: 200px) and (max-width: 400px) {
  .mainContainer {
    margin-top: -410px;
    min-height: 620px;
  }
  .TopMobile {
    top: 200px;
    font-size: 1rem;
  }
  .intro {
    right: auto;
    left: auto;
    margin-top: 50px;
    font-size: 1rem;
  }
  .intro h1:nth-child(1) {
    font-size: 1.5rem;
  }
  .intro h1:nth-child(2) {
    font-size: 1.2rem;
  }
  .intro p {
    font-size: 0.8rem;
    padding: 3px;
  }

  .listView {
    top: 4%;
    left: 4%;
    width: 44%;
    padding: 2%;
    font-size: 0.5rem;
  }
  .listView h1 {
    font-size: 0.8rem;
    width: 100%;
    border-bottom: 2px solid gray;
    color: #362fd9;
  }

  .headerMobile ul li {
    font-size: 0.6rem;
    padding: 2%;
  }
  .footerContactUs {
    margin: 0%;
    padding: 20px;
    height: auto;
  }
  .footerContactUs h1 {
    font-size: 1.3rem;
  }
  .footerContactUs .contactUsSection {
    width: 100%;
    margin-left: -20px;
  }
  form {
    width: 100%;
  }
  .footerContactUs .contactUsSection .leftcontactUsSection {
    padding: 0%;
    width: 100%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection {
    width: 100%;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails input {
    width: 98%;
    padding: 10px;
    font-size: 1rem;
  }
  .footerContactUs
    .contactUsSection
    .rightcontactUsSection
    .getDetails
    textarea {
    height: 50px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection button {
    padding: 10px 10px;
  }
} */

/* IPOHONE SE */
/* @media screen and (min-width: 375px) and (max-width: 380px) {
  .TopMobile h1 {
    margin: 0%;
  }
  .headerMobile {
    height: 250px;
  }
  .intro {
    left: auto;
    right: 5%;
  }
} */

/* IPOHONE XR */
/* @media screen and (min-width: 414px) and (max-width: 420px) {
  .TopMobile h1 {
    margin: 0%;
  }
  .headerMobile {
    height: 130px;
  }
  .intro {
    margin-top: 10%;
    left: auto;
    right: 5%;
  }
  .mainContainer {
    min-height: 610px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    width: 130%;
  }
} */
/* IPOHONE 12 */
/* @media screen and (min-width: 390px) and (max-width: 400px) {
  .TopMobile h1 {
    margin: 0%;
  }
  .headerMobile {
    height: 160px;
  }
  .intro {
    margin-top: 10%;
    left: auto;
    right: 5%;
  }
  .mainContainer {
    min-height: 610px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    width: 90%;
    margin-left: 25px;
  }
} */

/* GALAXY S8+ */

/* @media screen and (min-width: 360px) and (max-width: 365px) {
  .TopMobile h1 {
    margin: 0%;
  }
  .headerMobile {
    height: 210px;
  }
  .intro {
    margin-top: 10%;
    left: auto;
    right: 5%;
  }
  .mainContainer {
    min-height: 610px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    width: 90%;
    margin-left: 25px;
  }
} */

/* GALAXY S20 ULTRA */

/* @media screen and (min-width: 412px) and (max-width: 413px) {
  .TopMobile h1 {
    margin: 0%;
  }
  .headerMobile {
    height: 120px;
    margin: 0%;
  }
  .intro {
    margin-top: 10%;
    left: auto;
    right: 5%;
  }
  .mainContainer {
    min-height: 610px;
  }
  .footerContactUs .contactUsSection .rightcontactUsSection .getDetails {
    width: 130%;
    margin-left: -25px;
  }
} */
/* iPad Air */
/* @media screen and (min-width: 820px) and (max-width: 830px) {
  .deck {
    height: 39vh;
  }
  .footerContactUs {
    margin: 50px auto 0px auto;
    height: auto;
  }
} */
/* iPad Mini */
/* @media screen and (min-width: 768px) and (max-width: 770px) {
  .footerContactUs {
    margin: 113px auto 0px auto;
    height: auto;
  }
} */

/* Surface Pro 7 */
/* @media screen and (min-width: 912px) and (max-width: 915px) {
  .deck {
    height: 38vh;
  }
  .footerContactUs {
    margin: 50px auto 0px auto;
    height: auto;
  }
  .final {
    min-height: auto;
  }
} */

/* Surface Duo */
/* @media screen and (min-width: 540px) and (max-width: 545px) {
  .deck {
    height: 68vh;
  }
  .mainContainer {
    min-height: 930px;
  }
  .intro {
    margin-top: 180px;
  }
} */

@media only screen and (max-width: 1100px) and (min-width: 1000px) {
  body {
    background-color: black;
  }
  .body_wrapper {
    margin-top: 150px;
  }
  .inner_container {
    padding: 50px;
  }
  main .up .social_icons {
    font-size: 1.3rem;
  }
  main .projects_section {
    left: -40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap; */
    padding: 50px;
    /* border: 1px solid red; */
  }
  main .projects_section img {
    width: 300px;
    height: 300px;
  }
  main .projects_section img:hover {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (max-width: 999px) and (min-width: 800px) {
  body {
    background-color: black;
  }
  .body_wrapper {
    margin-top: 50px;
  }
  .inner_container {
    padding: 50px;
  }
  main .up .social_icons {
    font-size: 1.3rem;
  }
  main .projects_section {
    left: -40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap; */
    padding: 50px;
    /* border: 1px solid red; */
  }
  main .projects_section img {
    width: 300px;
    height: 300px;
  }
  main .projects_section img:hover {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 600px) {
  body {
    background-color: black;
  }
  .body_wrapper {
    margin-top: 50px;
  }
  .inner_container {
    padding: 30px;
  }
  main .up .social_icons {
    font-size: 1.3rem;
    width: 50%;
  }
  main .projects_section {
    left: -40px;
    display: grid;
    margin-top: 0%;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap; */
    padding: 50px;
    /* border: 1px solid red; */
  }
  main .projects_section img {
    width: 200px;
    height: 200px;
  }
  main .projects_section img:hover {
    width: 220px;
    height: 220px;
  }
  main .up {
    width: 90%;
  }
  main .blogs {
    flex-direction: column;
  }
  main .blogs .blog_left {
    width: 90%;
  }
  main .blogs .blog_right {
    width: 90%;
    gap: 20px;
  }
  /* -------OLD-------- */
  .flexMid .intro {
    background: none;
    top: -1%;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  body {
    background-color: black;
  }
  .body_wrapper {
    margin-top: -180px;
  }
  .inner_container {
    padding: 30px;
  }
  main .up .social_icons {
    font-size: 1.3rem;
    width: 50%;
  }
  main .projects_section {
    left: -40px;
    display: grid;
    margin-top: 0%;
    grid-template-columns: 1fr;
    /* flex-wrap: wrap; */
    justify-content: center !important;
    align-items: center !important;
    padding: 100px;
    /* border: 1px solid red; */
  }
  main .projects_section img {
    width: 300px;
    height: 300px;
  }
  main .projects_section img:hover {
    width: 300px;
    height: 300px;
  }
  main .up {
    width: 90%;
  }
  main .blogs {
    flex-direction: column;
  }
  main .blogs .blog_left {
    width: 90%;
  }
  main .blogs .blog_right {
    width: 90%;
    gap: 20px;
  }
  /* -------OLD-------- */
  .flexMid .intro {
    background: none;
    /* border: 1px solid red; */
    top: 0%;
    min-height: 200px;
  }
  .flexMid .intro h1,
  h1 {
    background: none;
    top: -1%;
    font-size: 1rem;
    margin-top: 40px;
  }
  .flexMid .intro p {
    font-size: 0.7rem;
  }
  main .blogs .blog_right .setUp_card .inp_btn input {
    width: 95%;
  }
  main .blogs .blog_right .setUp_card .inp_btn button {
    width: 100%;
    margin-top: 20px;
  }
  main .blogs .blog_right .setUp_card .social {
    font-size: 0.8rem;
  }
  .headerMobile ul li {
    font-size: 1rem;
  }
  .listView h1 {
    color: #362fd9;
  }
  .listView {
    top: 30px;
    left: 10px;
    width: 200px;
    /* display: block; */
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 399px) and (min-width: 200px) {
  body {
    background-color: black;
  }
  .TopMobile h1 {
    font-size: 1rem;
    margin-top: -10px;
    display: none;
  }
  .body_wrapper {
    margin-top: -630px;
  }
  .inner_container {
    padding: 30px;
  }
  main .up .social_icons {
    font-size: 1.3rem;
    width: 80%;
  }
  main .projects_section {
    left: -40px;
    display: grid;
    margin-top: 0%;
    margin-left: 2rem !important;
    grid-template-columns: 1fr;
    /* flex-wrap: wrap; */
    justify-content: center !important;
    align-items: center !important;
    padding: 10px;
    /* border: 1px solid red; */
  }
  main .projects_section img {
    width: 300px;
    height: 300px;
  }
  main .projects_section img:hover {
    width: 300px;
    height: 300px;
  }
  main .up {
    width: 90%;
  }
  main .blogs {
    flex-direction: column;
  }
  main .blogs .blog_left {
    width: 90%;
  }
  main .blogs .blog_right {
    width: 90%;
    gap: 20px;
  }
  /* -------OLD-------- */
  .flexMid .intro {
    background: none;
    /* border: 1px solid red; */
    margin: 0%;
    margin: auto;
    padding: 2%;
    min-height: 200px;
  }
  .flexMid .intro h1,
  h1 {
    background: none;
    top: -1%;
    font-size: 1rem;
    margin-top: 40px;
  }
  .footerContactUs h1 {
    font-size: 2rem;
  }
  .flexMid .intro h1,
  h1 {
    margin-top: 0%;
  }
  .flexMid .intro p {
    font-size: 0.5rem;
  }
  main .blogs .blog_left {
    margin-left: -20px;
  }

  main .blogs .blog_right {
    margin-left: -20px;
  }
  main .blogs .blog_right .setUp_card .inp_btn input {
    width: 95%;
  }
  main .blogs .blog_right .setUp_card .inp_btn button {
    width: 100%;
    margin-top: 20px;
  }
  .headerMobile ul li {
    font-size: 1rem;
  }
  main .blogs .blog_right .setUp_card .social {
    font-size: 0.7rem;
  }
  .listView h1 {
    color: #362fd9;
  }
  /* .listView {
    top: 30px;
    left: 10px;
    width: 200px;
    font-size: 0.7rem;
  } */
}
@media only screen and (max-width: 499px) and (min-width: 400px) {
  body {
    background-color: black;
  }
  .TopMobile h1 {
    font-size: 1rem;
    margin-top: -10px;
    display: none;
  }
  .body_wrapper {
    margin-top: -530px;
  }
  .inner_container {
    padding: 30px;
  }
  main .up .social_icons {
    font-size: 1.3rem;
    width: 80%;
  }
  main .projects_section {
    left: -40px;
    display: grid;
    margin-top: 0%;
    margin-left: 2rem !important;
    grid-template-columns: 1fr;
    /* flex-wrap: wrap; */
    justify-content: center !important;
    align-items: center !important;
    padding: 10px;
    /* border: 1px solid red; */
  }
  main .projects_section img {
    width: 300px;
    height: 300px;
  }
  main .projects_section img:hover {
    width: 300px;
    height: 300px;
  }
  main .up {
    width: 90%;
  }
  main .blogs {
    flex-direction: column;
  }
  main .blogs .blog_left {
    width: 90%;
  }
  main .blogs .blog_right {
    width: 90%;
    gap: 20px;
  }
  /* -------OLD-------- */
  .flexMid .intro {
    background: none;
    /* border: 1px solid red; */
    margin: 0%;
    margin: auto;
    padding: 2%;
    min-height: 200px;
  }
  .flexMid .intro h1,
  h1 {
    background: none;
    top: -1%;
    font-size: 1rem;
    margin-top: 40px;
  }
  .footerContactUs h1 {
    font-size: 2rem;
  }
  .flexMid .intro h1,
  h1 {
    margin-top: 0%;
  }
  .flexMid .intro p {
    font-size: 0.5rem;
  }
  main .blogs .blog_left {
    margin-left: -20px;
  }

  main .blogs .blog_right {
    margin-left: -20px;
  }
  main .blogs .blog_right .setUp_card .inp_btn input {
    width: 95%;
  }
  main .blogs .blog_right .setUp_card .inp_btn button {
    width: 100%;
    margin-top: 20px;
  }
  .headerMobile ul li {
    font-size: 1rem;
  }
  main .blogs .blog_right .setUp_card .social {
    font-size: 0.7rem;
  }
  .listView h1 {
    color: #362fd9;
  }
  /* .listView {
    top: 30px;
    left: 10px;
    width: 200px;
    font-size: 0.7rem;
  } */
}

@media only screen and (max-width: 340px) and (min-width: 200px) {
  main .blogs .blog_right .setUp_card .social {
    font-size: 0.6rem;
  }
}
